body {
background-position:top center;
background-size: 100% auto;
padding-bottom:50px;
}
/* 展示内容整体 */
#content {
/* top可以调节显示内容距离手机顶部的距离 */
top: 100px;
}
/* 搜索框 */
.search_bar {
/* 阴影效果 */
box-shadow: 0 0 10px rgba(70,70,40,0.255);
/* 模糊效果 */
/* backdrop-filter: blur(5px); */
/* 背景色 */
background-color: rgba(255,255,255,.100);
/* 圆角 */
border-radius: 10px;
display: table;
/* 宽度 */
width: 88%;
/* 高度 */
height: 30px;
max-width: 400px;
margin: 10px auto;
text-align:center;
font-size:30px;
border:0.7;
outline:none;
font-weight:560;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
animation:search-bar 1s;
}
/* 内部图标 */
.overlay{border-radius: 10px;}/* 搜索框的动画 */
@keyframes search-bar {
0% {max-width: 100px;}
100% {max-width: 400px;}
}
/* 收纳所有收藏卡片的容器 */
#box_container {
width: 88%;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
animation:box-container 1s;
}
/* 单个收藏卡片（包括图标和文字区域） */
.box{
margin:0;
width:15%
}
/* 用于设置卡片之间的间距（每行的第5列除外） */
#box_container>.box:not(:nth-child(5n)){
margin:0 6% 0 0;
}

/* 用于设置搜索时的词条联想框 */
.bdSug_wpr {
border:0px none #FFFFFF !important;
border-top:13px solid transparent !important;
background: rgba(255,255,255,0.2) !important;
backdrop-filter: blur(8px);
}




/* 第二种:线条搜索框 */
body {
background-position:top center;
background-size: 100% auto;
padding-bottom:50px;
}
/* 展示内容整体 */
#content {
/* top可以调节显示内容距离手机顶部的距离 */
top: 100px;
}
/* 搜索框 */
.search_bar {
width: 71%;
height:1.2px;
border:1px solid ＃C0C0C0;
border-top:0px;border-left:0px;border-right:0px;
border-radius:0;/*圆角大小*/
opacity:1;/*透明度*/

max-width:var(width);
margin: 10px auto;
text-align:center;
font-size:30px;/*字体大小*/
border:0.7;
outline:none;
font-weight:560;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
animation:search-bar 1.8s;
}
/* 内部图标 */
.overlay{border-radius: 10px;}/* 搜索框的动画 */
@keyframes search-bar {
0% {max-width: 100px;}
100% {max-width: var(width);}
}
/* 收纳所有收藏卡片的容器 */
#box_container {
width: 88%;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
animation:box-container 1s;
}
/* 单个收藏卡片（包括图标和文字区域） */
.box{
margin:0;
width:15%
}
/* 用于设置卡片之间的间距（每行的第5列除外） */
#box_container>.box:not(:nth-child(5n)){
margin:0 6% 0 0;
}

/* 用于设置搜索时的词条联想框:关闭联想框 */
.bdSug_wpr {
display:none !important;
}
